.home__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.home__heading-text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
    color: white;
    text-align: left;
    /* Align text to the left */
    z-index: 2;
}

.home__heading-text button {
    opacity: 0.75;
    background-color: #000;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    margin-left: 135px;
}

.home__heading-text button:hover {
    opacity: 1;
}

.home__heading {
    background-size: cover;
    background-repeat: no-repeat;
}

.home-page-background {
    background-image: url('../assets/about1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}